<!DOCTYPE html>
<html>
  <head>
    <title>IdealDesk</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.14.1/dist/css/uikit.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.14.1/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.14.1/dist/js/uikit-icons.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha256-UzFD2WYH2U1dQpKDjjZK72VtPeWP50NoJjd26rnAdUI=" crossorigin="anonymous" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/484e6509e8.js" crossorigin="anonymous"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="notification is-info">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="notification is-danger">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>


    <nav class="navbar is-warning">
      <div class="navbar-brand">
        <%= link_to root_path, class: "navbar-item" do %>
          <h1 class="title is-4" style="font-family: cursive;">Ideal Desk</h1>
        <% end %>
        <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

    <% if user_signed_in? %>
      <div id="navbarExampleTransparentExample" class="navbar-menu">
          <div class="navbar-item">
            <%= link_to "Desk Lists", desks_path, class: "navbar-item button is warnig is -light" %>
            </div>
          <div class="navbar-item">
            <%= link_to "New Post", new_desk_path, class: "navbar-item button is warnig is -light" %>
          </div>
            <div class="navbar-end">
              <div class="navbar-item">
                <div class="field is-grouped">
                  <p class="control">

                    <dl class="searchbox">
                      <%= search_form_for @search do |f| %>
                        <dt><%= f.text_field :title_cont ,placeholder: 'デスクを検索' %></dt>
                        <dd><%= f.submit ("検索") , class: 'search-btn'%></dd>
                      <% end %>
                    </dl>




                    <%= link_to "Desker List", users_path, class: "button is-warning is-light" %>
                    <%= link_to "My Page", user_path(current_user), class: "button is-warning is-light" %>
                    <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "button is-warning is-light" %>
                  </p>
                </div>
              </div>
            </div>
          </div>
    <% else %>
    <div id="navbarExampleTransparentExample" class="navbar-menu">
          <div class="navbar-item">
            <div class="navbar-item">
            <%= link_to "Desk Lists", desks_path, class: "navbar-item button is warnig is -light" %>
            </div>

            <div class="navbar-item">
            <%= link_to "Desker List", users_path, class: "navbar-item button is warnig is -light" %>
            </div>
            </div>


            <div class="navbar-end">
              <div class="navbar-item">
                <div class="field is-grouped">
                  <p class="control">
                    <%= link_to "Login", new_user_session_path, class: "button is-warning is-light" %>
                    <%= link_to "Guest Login", users_guest_sign_in_path, class: "button is-warning is-light", method: :post %>
                    <%= link_to "Register", new_user_registration_path, class: "button is-warning is-light" %>
                  </p>
                </div>
              </div>
            </div>
          </div>




    <% end %>
    </nav>

    <%= yield %>
  </body>
</html>
